#!/bin/bash
set -euo pipefail
IFS=$'\n\t'

main() {
    local pwd=$(pwd)
    info "OS Detected: {{ .osid | quote }}"
    info "Execution Dir: $pwd"
    echo ""

    {{ if eq .osid "linux-manjaro" -}}
    arch_setup_chaotic_aur
    {{ end -}}

    # Build/Development Tools
    echo ""
    info "Setup Build/Development Tools..."
    install_dnvm
    install_cargo
    install_metapac
    install_uv

    # Applications
    echo ""
    info "Setup Apps..."
    {{ if eq .osid "linux-manjaro" -}}
    install_espanso
    {{ end -}}

    {{ if ne .chezmoi.fqdnHostname "haseebs-macbook.lan" -}}
    install_tsui
    {{ end -}}
}

arch_setup_chaotic_aur() {
    if cat /etc/pacman.conf | grep "chaotic-aur"; then
        warn "Chaotic AUR is already setup."
        return 0
    fi

    info "Setting up Chaotic AUR..."
    sudo pacman-key --recv-key 3056513887B78AEB --keyserver keyserver.ubuntu.com >/dev/null 2>&1
    sudo pacman-key --lsign-key 3056513887B78AEB >/dev/null 2>&1
    sudo pacman -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst' --noconfirm >/dev/null 2>&1
    sudo pacman -U 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst' --noconfirm >/dev/null 2>&1

    echo -e "[chaotic-aur]\nInclude = /etc/pacman.d/chaotic-mirrorlist" | sudo tee -a /etc/pacman.conf

    info "Updating pacman..."
    sudo pacman -Sy
}

install_espanso() {
    if eval "command -v espanso >/dev/null 2>&1"; then    
        warn "espanso already installed."
        return 0
    fi

    info "Installing espanso..."
    
    # Create the $HOME/opt destination folder
    mkdir -p ~/opt
    # Download the AppImage inside it
    wget -O ~/opt/Espanso.AppImage 'https://github.com/espanso/espanso/releases/latest/download/Espanso-X11.AppImage'
    # Make it executable
    chmod u+x ~/opt/Espanso.AppImage
    # Create the "espanso" command alias
    sudo ~/opt/Espanso.AppImage env-path register
    # Register espanso as a systemd service (required only once)
    espanso service register
    # Start espanso
    espanso start

    ok "espanso installed."
}

install_dnvm() {
    if eval "command -v dnvm >/dev/null 2>&1"; then    
        warn "dnvm already installed."
        return 0
    fi

    info "Installing dnvm..."
    curl --proto '=https' -sSf https://dnvm.net/install.sh | sh
    ok "dnvm installed."
}

install_cargo() {
    if eval "command -v cargo >/dev/null 2>&1"; then
        warn "cargo already installed."
        return 0
    fi

    info "Installing cargo..."
    curl https://sh.rustup.rs -sSf | sh
    . "$HOME/.cargo/env"
    ok "cargo installed."
}

install_metapac() {
    if eval "command -v metapac >/dev/null 2>&1"; then
        warn "metapac already installed."
        return 0
    fi

    info "Installing metapac..."
    cargo install metapac
    ok "metapac installed."
}

install_tsui() {
    if ! eval "command -v tailscale >/dev/null 2>&1"; then
        warn "Skipping tsui install. Tailscale is not installed."
        return 1
    fi

    if eval "command -v tsui >/dev/null 2>&1"; then
        warn "tsui already installed."
        return 0
    fi

    info "Installing tsui..."
    curl -fsSL https://neuralink.com/tsui/install.sh | bash
    ok "tsui installed."
}

install_uv() {
    if eval "command -v uv >/dev/null 2>&1"; then
        warn "uv already installed."
        return 0
    fi

    info "Installing uv..."
    curl -LsSf https://astral.sh/uv/install.sh | sh
    ok "uv installed."
}

install_specify_cli() {
    if eval "command -v specify-cli >/dev/null 2>&1"; then
        warn "specify-cli already installed."
        return 0
    fi

    info "Installing specify-cli..."
    uv tool install specify-cli --from git+https://github.com/github/spec-kit.git
    ok "specify-cli installed."
}

metapac_sync() {
    if ! eval "command -v metapac >/dev/null 2>&1"; then
        error "Failed \"metapac sync\"! metapac is not installed."
        return 0
    fi

    info "Syncing packages..."
    metapac s
    ok "Package sync complete."
}

# Output Helpers
info()  { echo "[INFO] $1"; } #gum style --foreground "#9bcefd" --bold "[INFO] $1"; }
warn()  { echo "[WARN] $1"; } #gum style --foreground "#ffd166" --bold "[WARN] $1"; }
error() { echo "[ERROR] $1"; } #gum style --foreground "#e0005a" --bold "[ERROR] $1"; }
ok()    { echo "[OK] $1"; } #gum style --foreground "#829e2e" --bold "[OK] $1"; }

main "$@"