# Arcane Docker Compose Configuration
# Generated at 12/11/2025, 9:04:54 PM

services:
  arcane:
    image: ghcr.io/getarcaneapp/arcane:latest
    container_name: arcane
    restart: unless-stopped
    
    ports:
      - 3552:3552
    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - arcane-data:/app/data
    
    env_file: .env

volumes:
  arcane-data:
    driver: local