# Arcane Docker Compose Configuration
# Generated at 12/11/2025, 9:04:54 PM

services:
  arcane:
    image: ghcr.io/getarcaneapp/arcane:latest
    container_name: arcane
    restart: unless-stopped
    
    ports:
      - 3552:3552
    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/volumes/arcane:/app/data

    env_file: .env

    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

    labels:
      - "diun.enable=true"
