{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

encryption = "age"
[age]
    command = "rage"
    passphrase = true

[data]
    osid = {{ $osid | quote }}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-enc-command.sh"