{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $tsn := "lykoi-mark.ts.net" -}}
{{- $tsnUrl := printf "http://%s.%s" .chezmoi.hostname $tsn -}}
{{- $publicUrl := $tsnUrl -}}
{{- if eq .chezmoi.hostname "homelab-002" -}}
{{-   $publicUrl = printf "https://homelab.%s" $tsn -}}
{{- end -}}

encryption = "age"
[age]
    command = "rage"
    identity = "~/rage.key"
    recipient = "age1pvkfkw9nh9j82w7xdhz86d066epa4fh9u0ezsheftgxesgmhy4cqvka4jh"

[data]
    osid = {{ $osid | quote }}
    publicUrl = {{ $publicUrl | quote }}
    tsn = {{ $tsn | quote }}
    tsnUrl = {{ $tsnUrl | quote }}

[hooks.read-source-state.pre]
    {{- if eq $osid "windows" }}
    command = "powershell.exe"
    args = ["-ExecutionPolicy", "Bypass", "-File", ".local\\share\\chezmoi\\.install-enc-command.ps1"]
    {{ else }}
    command = ".local/share/chezmoi/.install-enc-command.sh"
    {{ end -}}
