# Environment variables
{{ if eq .chezmoi.fqdnHostname "Mac.lan" }}
export CURL_CA_BUNDLE="/Users/Shared/zscaler-cert.pem"
export NODE_EXTRA_CA_CERTS="/Users/Shared/zscaler-cert.pem"
export REQUESTS_CA_BUNDLE="/Users/Shared/python_cacert+zscaler.pem"
export SSL_CERT_FILE="/Users/Shared/zscaler-cert.pem"

export EDITOR="code --wait"
{{ else }}
export EDITOR="codium --wait"
{{ end -}}
export NVM_DIR="$HOME/.nvm"

# Aliases
alias ..="cd .."
alias ...="cd ../.."
alias awsume="source awsume"

# Autostart
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm

# AWSume: Auto-Complete function
_awsume() {
    local state
    state=("${(@f)$(awsume-autocomplete)}")
    compadd -- $state
}
compdef _awsume awsume

. "$HOME/.local/bin/env"

# Dotnet Version Manager
{{- if eq .osid "darwin" }}
if [ -f "$HOME/Library/Application Support/dnvm/env" ]; then
    . "$HOME/Library/Application Support/dnvm/env"
fi
{{- else if eq .osid "linux-manjaro" }}
if [ -f "$HOME/.local/share/dnvm/env" ]; then
    . "$HOME/.local/share/dnvm/env"
fi
{{ end -}}

#Bitwarden SSH Agent
BITWARDEN_SSH_AGENT="$HOME/.bitwarden-ssh-agent.sock"
if [ -S "$BITWARDEN_SSH_AGENT" ]; then
    export SSH_AUTH_SOCK="$BITWARDEN_SSH_AGENT"
fi

BITWARDEN_FLATPAK_SSH_AGENT="$HOME/.var/app/com.bitwarden.desktop/data/.bitwarden-ssh-agent.sock"
if [ -S "$BITWARDEN_FLATPAK_SSH_AGENT" ]; then
    export SSH_AUTH_SOCK="$BITWARDEN_FLATPAK_SSH_AGENT"
fi