services:
  jellyfin:
    container_name: jellyfin
    image: ghcr.io/hotio/jellyfin
    
    ports:
      - "8096:8096"

    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/Amsterdam
    
    volumes:
      - ~/volumes/jellyfin/config:/config
      - ~/volumes/data:/data
