include:
  - path: arcane/docker-compose.yaml
  - path: resilio-sync/docker-compose.yaml
  - path: zerobyte/docker-compose.yaml
{{- if eq .chezmoi.fqdnHostname "homelab-002" }}
  - path: actual-budget/docker-compose.yaml
  - path: bento-pdf/docker-compose.yml
  - path: bookorbit/docker-compose.yml
  - path: jellyfin/docker-compose.yaml
  - path: geopulse/docker-compose.yml
  - path: glance/docker-compose.yml
  - path: hermes/docker-compose.yaml
  - path: hindsight/docker-compose.yml
  - path: insta-parser/docker-compose.yaml
  - path: mcpjungle/docker-compose.yaml
  - path: immich/docker-compose.yml
  - path: n8n/docker-compose.yaml
  - path: ntfy/docker-compose.yaml
  - path: openclaw/docker-compose.yaml
  - path: sure/docker-compose.yml
  - path: postgres/docker-compose.yml
  - path: pocket-id/docker-compose.yml
  - path: vaultwarden/docker-compose.yaml
  - path: wakapi/docker-compose.yaml
{{- else if eq .chezmoi.fqdnHostname "homelab-003" }}
  - path: arr-stack/network-compose.yaml
  - path: arr-stack/bazarr-compose.yaml
  - path: arr-stack/bookshelf-compose.yaml
  - path: arr-stack/profilarr-compose.yaml
  - path: arr-stack/prowlarr-compose.yaml
  - path: arr-stack/qbittorrent-compose.yaml
  - path: arr-stack/qui-compose.yaml
  - path: arr-stack/radarr-compose.yaml
  - path: arr-stack/sonarr-compose.yaml
  - path: jellyfin/docker-compose.yaml
  - path: seerr/docker-compose.yaml
{{- end }}
