# docker-compose.yaml
include:
  - path: zerobyte/docker-compose.yaml
  - path: arcane/docker-compose.yaml
{{- if eq .chezmoi.fqdnHostname "homelab-002" }}
  #- path: babybuddy/docker-compose.yaml
  #- path: code-server/docker-compose.yaml
  - path: coder/docker-compose.yaml
  - path: mssql/docker-compose.yaml
  #- path: n8n/docker-compose.yaml
  #- path: trips/docker-compose.yaml
  - path: vaultwarden/docker-compose.yaml
  - path: ziit/docker-compose.yaml
{{- else if eq .chezmoi.fqdnHostname "homelab-003" }}
  - path: arr-stack/docker-compose.yaml
{{- end }}