services:
  ziit:
    image: ghcr.io/0pandadev/ziit:v1.1.1
    container_name: ziit
    restart: unless-stopped

    networks:
      - ziit-network
    ports:
      - "3000:3000"

    env_file: app.env
    
    depends_on:
      ziit-db:
        condition: service_healthy
    
  ziit-db:
    image: timescale/timescaledb-ha:pg17
    container_name: ziit-db
    restart: unless-stopped

    env_file: postgres.env
    
    volumes:
      - ~/volumes/ziit-db:/var/lib/postgresql/data
    
    post_start:
      - command: chown -R 1000:1000 /var/lib/postgresql/data
        user: root
    
    networks:
      ziit-network:
        aliases:
          - postgres

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ziit"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

networks:
  ziit-network:
    name: ziit-network
    driver: bridge

