services:
    vaultwarden:
        image: vaultwarden/server:latest
        container_name: vaultwarden
        restart: always
        
        network_mode: bridge
        ports:
            - 9080:80
        
        volumes:
            - zb-kocSY:/data
            
        env_file: .env

        depends_on:
            zerobyte:
                condition: service_started
        
        deploy:
            resources:
                limits:
                    cpus: '0.50'
                    memory: 1024M
            
volumes:
    zb-kocSY:
        external: true
