services:
    vaultwarden:
        image: vaultwarden/server:latest
        container_name: vaultwarden
        restart: unless-stopped
        
        ports:
            - 9080:80
        
        volumes:
            - ~/volumes/vaultwarden/data:/data
            
        env_file: .env
        
        deploy:
            resources:
                limits:
                    cpus: '0.50'
                    memory: 1024M

