services:
    n8n:
      build: .
      container_name: n8n
        
      restart: unless-stopped

      ports:
        - 5678:5678

      volumes:
        - ~/volumes/n8n:/home/node/.n8n
        - ~/volumes/booklore/read_later:/home/node/.n8n-files/read_later:rw

      environment:
        PUID: 1000
        GUID: 1000
        GENERIC_TIMEZONE: "Europe/Amsterdam"
        NODE_FUNCTION_ALLOW_EXTERNAL: "@mozilla/readability,linkedom,turndown"

