services:
    n8n:
        image: n8nio/n8n:latest
        container_name: n8n
        
        restart: unless-stopped

        ports:
            - 5678:5678

        volumes:
            - ~/volumes/n8n:/home/node/.n8n
        
        environment:
            GENERIC_TIMEZONE: "UTC"
            TZ: "Europe/Amsterdam"

