arch = [
    "1password",
    "bat",
    "chromium",
    "git",
    "hplip",
    "lazydocker",
    "lazygit",
    "nvm",
    "podman-compose",
    "podman-docker",
    { package = "podman", hooks = { after_sync = [
        "systemctl",
        "--user",
        "enable",
        "--now",
        "podman.socket",
    ] } },
    { package = "tailscale", hooks = { after_sync = [
        "systemctl",
        "enable",
        "--now",
        "tailscaled",
    ] } },
    "ttf-zed-mono-nerd",
    "vscodium",
    "zed",
]

brew = [
    "1password",
    "bat",
    "bitwarden",
    "espanso",
    "font-zed-mono-nerd-font",
    "git",
    "lazygit",
    "nvm",
    "orbstack",
    "podman-desktop",
    "visual-studio-code",
    "zed",
    "zen",
]

flatpak = [
    "app.zen_browser.zen",
    "com.bitwarden.desktop"
]

npm = [
    "@fission-ai/openspec",
    {{ if ne .osid "windows" }}
    "opencode-ai"
    {{ end -}}
]

vscode = [
    "bradlc.vscode-tailwindcss",
    "catppuccin.catppuccin-vsc-pack",
    "christian-kohler.npm-intellisense",
    "dbaeumer.vscode-eslint",
    "esbenp.prettier-vscode",
    "github.vscode-github-actions",
    "hashicorp.terraform",
    "illixion.vscode-vibrancy-continued",
    "ms-mssql.mssql",
    "ms-playwright.playwright",
    "ms-vscode.test-adapter-converter",
    "redhat.vscode-yaml",
    "tamasfe.even-better-toml",
    "pandadev.ziit",
    "yoavbls.pretty-ts-errors",
    {{ if ne .chezmoi.fqdnHostname "Mac.lan" }}
    "anthropic.claude-code",
    {{ end -}}
    {{ if eq .chezmoi.fqdnHostname "Mac.lan" }}
    "ms-mssql.sql-database-projects-vscode",
    "ms-windows-ai-studio.windows-ai-studio"
    {{ end -}}
]

winget = [
    "Anthropic.ClaudeCode",
    "AgileBits.1Password",
    { package = "CoreyButler.NVMforWindows", hooks = { after_sync = [ "nvm install lts;", " nvm use lts;" ] } },
    "Bitwarden.Bitwarden",
    "Bitwarden.CLI",
    "Espanso.Espanso",
    "Git.Git",
    "JesseDuffield.lazygit",
    "Microsoft.AzureCLI",
    "OliverSchwendener.ueli",
    "Rufus.Rufus",
    "SST.OpenCode",
    "strayge.tray-monitor",
    "VSCodium.VSCodium",
    "Warp.Warp",
    "Zen-Team.Zen-Browser",
    {{ if eq .chezmoi.fqdnHostname "Haseebs-SER9" }}
    "Canva.Affinity",
    "Microsoft.SQLServerManagementStudio.22",
    "Microsoft.VisualStudio.Community",
    "RedHat.Podman",
    "RedHat.Podman-Desktop",
    "ZedIndustries.Zed",
    {{ end -}}
]