services:
  resilio-sync:
    image: lscr.io/linuxserver/resilio-sync:latest
    container_name: resilio-sync

    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam

    volumes:
      - ~/volumes/resilio-sync/config:/config
      - ~/volumes/data/media:/sync/data/media

    ports:
      - 8888:8888
      - 55555:55555

    restart: unless-stopped
