services:
  resilio-sync:
    image: lscr.io/linuxserver/resilio-sync:3.1.2.1076-1-ls245
    container_name: resilio-sync

    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam

    volumes:
      - ~/volumes/resilio-sync/config:/config
      - ~/volumes/resilio-sync/sync/authenticator:/sync/authenticator
      - ~/volumes/data:/sync/data
      - ~/volumes/obsidian:/sync/obsidian

    ports:
      - 8888:8888
      - 55555:55555

    restart: unless-stopped
